<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>

    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css"/>
  </head>
  <body>
    <div class="container">
      <H2>파일 확장자 차단 시스템</H2> <br>
      <section class="fix-fixExtension">
        <div class="section-header">
          <h3 class="section-title">고정 확장자</h3>
        </div>

        <ul class="fix-fixExtension-list">
          <li class="fix-fixExtension-item" th:each="fix : ${fixList}">
            <input
              type="checkbox"
              th:name="${fix.name}"
              th:id="${fix.name}"
              th:value="${fix.name}"
            />
            <label th:text="${fix.name}">
              FixExtensionName
            </label>

          </li>
        </ul>
      </section>

      <section class="custom-fixExtension">
        <div class="section-header">
          <h3 class="section-title">커스텀 확장자</h3>
          <div class="reset-button custom">
            <span>초기화 하기</span>
            <i class="refresh-icon fa-solid fa-rotate-right"></i>
          </div>
        </div>

        <div class="valid-check-info">
          <i class="fa-solid fa-circle-info"></i>
          <span
            >확장자는 영문 대소문자로, 최대 20글자까지 입력 가능합니다.</span
          >
        </div>

        <div class="custom-fixExtension-input-area">
          <input
            type="text"
            placeholder="확장자를 입력해주세요"
            maxlength="20"
          />
          <button class="add-button button">
            <i class="fa-solid fa-plus"></i>
            추가
          </button>
        </div>

        <div class="custom-fixExtension-saved-area">

          <ul class="custom-fixExtension-list">
            <li
              class="custom-fixExtension-item button"
              th:each="custom : ${customList}"
            >
              <span class="custom-fixExtension-name" th:text="${custom.name}"
                >CustomExtensionName</span
              >
              <button class="delete">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </li>
          </ul>
          <div class="custom-fixExtension-count">
            <!--            <span class="current" th:text="${#lists.size(customList)}">0</span>-->
            / 200
          </div>
        </div>
      </section>
    </div>

    <script th:src="@{js/index.js}" src="../static/js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
    </script>
  </body>
</html>
